<!DOCTYPE html>
<html>
<head>

    <title>Brain Tumor Detection</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>🧠 Brain Tumor Detection</h1>

        <p class="subtitle">
            AI-Powered MRI Classification using ResNet50
        </p>

        <div class="upload-box">

            <form action="/" method="POST" enctype="multipart/form-data">

                <input
                    type="file"
                    name="image"
                    required>

                <br>

                <button type="submit">
                    Analyze MRI Scan
                </button>

            </form>

        </div>

    </div>

    <div class="card">

        <h2>About Brain Tumors</h2>

        <details>
            <summary>What causes brain tumors?</summary>
            <p>
                Brain tumors can develop due to genetic mutations,
                radiation exposure, inherited conditions, or unknown causes.
            </p>
        </details>

        <details>
            <summary>Common Symptoms</summary>
            <p>
                Headaches, seizures, blurred vision,
                memory problems, nausea, and balance issues.
            </p>
        </details>

        <details>
            <summary>Tumor Types</summary>
            <p>
                Glioma, Meningioma, Pituitary Tumor and No Tumor.
            </p>
        </details>

    </div>

    <div class="card">

        <h2>Project Information</h2>

        <div class="stats">

            <div class="stat-card">
                <h3>98.10%</h3>
                <p>Test Accuracy</p>
            </div>

            <div class="stat-card">
                <h3>ResNet50</h3>
                <p>Architecture</p>
            </div>

            <div class="stat-card">
                <h3>PyTorch</h3>
                <p>Framework</p>
            </div>

            <div class="stat-card">
                <h3>Flask</h3>
                <p>Deployment</p>
            </div>

        </div>

    </div>

</div>

</body>
</html>